*{
    margin: 0;
    font-family: "Noto Sans JP";
    color: white;
}

body{
    background: url(../images/fundo.jpg);
    background-size: cover;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    padding: 1%;
}

.ativo{
    color: black;
    background-color: white;
    border: 1px solid white;
    padding: 6px 16px;
}

.logo{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}

.barra-navegacao{
    text-align: right;
    padding-right: 1%;
}

.barra-navegacao a:hover{
    color: black;
    background-color: white;
    border: 1px solid white;
    padding: 6px 16px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;  
    background: white;        
}

.conteudo{
    height: 100vh;
    background: rgba(0,0,0,0.5);
    text-align: center;
}

.titulo{
    font-size: 55px;
    padding-top: 17%;
}

.video{
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 25px;
    color: white;
}

.saiba-mais{
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 25px;
    color: white;
}